__pycache__/
.pytest_cache/
.venv/
env/
artifacts/
models/
*.joblib
*.parquet
*.pickle
data/*.csv

.env*

.DS_Store
**/.DS_Store
*.log
*.pyc
*.json

notebooks/data_exploration.ipynb
.ipynb_checkpoints/

.coverage
htmlcov/