# Core ML dependencies
numpy
pandas
scikit-learn
xgboost
lightgbm
joblib
pyarrow
imbalanced-learn

# API dependencies
fastapi
uvicorn
pydantic
httpx

# Data validation
pandera

# Testing
pytest
pytest-cov

# Visualization
jupyter
matplotlib
seaborn

# Development tools (optional)
flake8
black
isort
mypy

# Linting quality
black==24.10.0
isort==5.13.2
flake8==7.1.0
mypy==1.10.0

#Customer generation
faker
faker
python-dotenv
