# Core ML dependencies
numpy
pandas
scikit-learn
xgboost
lightgbm
joblib
pyarrow
imbalanced-learn

# API dependencies
fastapi
uvicorn
pydantic
httpx

# Data validation
pandera
pydantic-settings

# Testing
pytest
pytest-cov

# Visualization
jupyter
matplotlib
seaborn

# Code quality
isort==5.13.2
mypy==1.10.0

#Customer generation
faker
python-dotenv
